## Clustering Methods

In [ ]:
##Intro

In [30]:
install.packages("factoextra")
install.packages("ISLR")
install.packages("dbscan")
install.packages("NbClust")
install.packages("mlbench")

Warning message:
"unable to access index for repository https://mran.microsoft.com/snapshot/2017-09-01/src/contrib:
  cannot open destfile 'C:\Users\Dhruv\AppData\Local\Temp\RtmpYxXpOQ\file1f5037b94687', reason 'No such file or directory'"Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/src/contrib:
  cannot open destfile 'C:\Users\Dhruv\AppData\Local\Temp\RtmpYxXpOQ\file1f501b65d94', reason 'No such file or directory'"Warning message:
"package 'factoextra' is not available (for R version 3.4.3)"Warning message in gzfile(file, mode):
"cannot open compressed file 'C:\Users\Dhruv\AppData\Local\Temp\RtmpYxXpOQ/libloc_202_e7ec3908.rds', probable reason 'No such file or directory'"

ERROR: Error in gzfile(file, mode): cannot open the connection

In [31]:
library(ISLR)
library(cluster)
library(dbscan)
library(factoextra)
library(NbClust)
library(fpc)
library(ggplot2)
library(mlbench)
data(BreastCancer)
data(Glass)
data(Sonar)

In [32]:
head(Glass)
data=Glass

  RI      Na    Mg   Al   Si    K    Ca   Ba Fe   Type
1 1.52101 13.64 4.49 1.10 71.78 0.06 8.75 0  0.00 1
2 1.51761 13.89 3.60 1.36 72.73 0.48 7.83 0  0.00 1
3 1.51618 13.53 3.55 1.54 72.99 0.39 7.78 0  0.00 1
4 1.51766 13.21 3.69 1.29 72.61 0.57 8.22 0  0.00 1
5 1.51742 13.27 3.62 1.24 73.08 0.55 8.07 0  0.00 1
6 1.51596 12.79 3.61 1.62 72.97 0.64 8.07 0  0.26 1

In [33]:
#data$num_class = factor(data$Class)
#data$num_class = as.numeric(data$num_class)

In [34]:
#data$num_class = factor(data$Class)
#data$num_class = as.numeric(data$num_class)

In [35]:
#data$Class = NULL
#data$Id = NULL
#na.omit(data)

In [36]:
#data = as.data.frame(data, row.names = NULL, optional = FALSE)

In [37]:
head(data)
summary(data)
data$Type = as.numeric(data$Type)

  RI      Na    Mg   Al   Si    K    Ca   Ba Fe   Type
1 1.52101 13.64 4.49 1.10 71.78 0.06 8.75 0  0.00 1
2 1.51761 13.89 3.60 1.36 72.73 0.48 7.83 0  0.00 1
3 1.51618 13.53 3.55 1.54 72.99 0.39 7.78 0  0.00 1
4 1.51766 13.21 3.69 1.29 72.61 0.57 8.22 0  0.00 1
5 1.51742 13.27 3.62 1.24 73.08 0.55 8.07 0  0.00 1
6 1.51596 12.79 3.61 1.62 72.97 0.64 8.07 0  0.26 1

       RI              Na              Mg              Al
 Min.   :1.511   Min.   :10.73   Min.   :0.000   Min.   :0.290
 1st Qu.:1.517   1st Qu.:12.91   1st Qu.:2.115   1st Qu.:1.190
 Median :1.518   Median :13.30   Median :3.480   Median :1.360
 Mean   :1.518   Mean   :13.41   Mean   :2.685   Mean   :1.445
 3rd Qu.:1.519   3rd Qu.:13.82   3rd Qu.:3.600   3rd Qu.:1.630
 Max.   :1.534   Max.   :17.38   Max.   :4.490   Max.   :3.500
       Si              K                Ca               Ba
 Min.   :69.81   Min.   :0.0000   Min.   : 5.430   Min.   :0.000
 1st Qu.:72.28   1st Qu.:0.1225   1st Qu.: 8.240   1st Qu.:0.000
 Median :72.79   Median :0.5550   Median : 8.600   Median :0.000
 Mean   :72.65   Mean   :0.4971   Mean   : 8.957   Mean   :0.175
 3rd Qu.:73.09   3rd Qu.:0.6100   3rd Qu.: 9.172   3rd Qu.:0.000
 Max.   :75.41   Max.   :6.2100   Max.   :16.190   Max.   :3.150
       Fe          Type
 Min.   :0.00000   1:70
 1st Qu.:0.00000   2:76
 Median :0.00000   3:17
 Mean   :0.05701   5:13
 3rd Qu.:0.10000   6: 9
 Max.   :0.51000   7:29

In [38]:
The elbow method uses the fviz nblust package to determine the number of clusters within the dataset.using within clusters sum of squares

ERROR: Error in parse(text = x, srcfile = src): <text>:1:5: unexpected symbol
1: The elbow
        ^

In [39]:
fviz_nbclust(data,kmeans,method = "wss") +
geom_vline(xintercept = 7, linetype = 2) + 
labs(subtitle = "Elbow Method")

ERROR: Error in png(tf, width, height, "in", pointsize, bg, res, antialias = antialias): unable to start png() device

plot without title

In [40]:
#t(data)%*%as.matrix(data)

nb = NbClust( data, distance = "euclidean", min.nc = 2,
            max.nc = 10, method = "kmean")

Warning message in pf(beale, pp, df2):
"NaNs produced"

*** : The Hubert index is a graphical method of determining the number of clusters.
                In the plot of Hubert index, we seek a significant knee that corresponds to a
                significant increase of the value of the measure i.e the significant peak in Hubert
                index second differences plot.

ERROR: Error in png(tf, width, height, "in", pointsize, bg, res, antialias = antialias): unable to start png() device

plot without title

*** : The D index is a graphical method of determining the number of clusters.
                In the plot of D index, we seek a significant knee (the significant peak in Dindex
                second differences plot) that corresponds to a significant increase of the value of
                the measure.

*******************************************************************
* Among all indices:
* 6 proposed 2 as the best number of clusters
* 6 proposed 3 as the best number of clusters
* 5 proposed 4 as the best number of clusters
* 2 proposed 6 as the best number of clusters
* 4 proposed 9 as the best number of clusters

                   ***** Conclusion *****

* According to the majority rule, the best number of clusters is  2


*******************************************************************

ERROR: Error in png(tf, width, height, "in", pointsize, bg, res, antialias = antialias): unable to start png() device

plot without title

In [ ]:
clus = kmeans(data, centers = 7)
clusplot(data, clus$cluster, color = TRUE,
         share = TRUE, Labels = 2, lines =  0)

In [ ]:
nb1 = NbClust( data, distance = "euclidean", min.nc = 2,
            max.nc = 10, method = "ward.D2")

In [ ]:
dst = dist(data, method = "euclidean")
fit = hclust(dst, method = "ward.D2")
plot(fit)
groups = cutree(fit, k=7)
rect.hclust(fit, k=7, border = "red")

In [ ]:
kNNdist(data, k=7, search = "kd")

In [ ]:
kNNdistplot(data, k=7)
abline(h=.75)

In [ ]:
db1 = dbscan(data, eps = .5)
fviz_cluster(db1, data, )

In [ ]:
fviz_cluster(db1, data, choose.vars = NULL, stand = TRUE,
  axes = c(1, 2), geom = c("point"), repel = FALSE,
  show.clust.cent = TRUE, ellipse = TRUE, ellipse.type = "convex",
  ellipse.level = 0.95, ellipse.alpha = 0.2, shape = NULL,
  pointsize = 1.5, labelsize = 12, main = "Cluster plot", outlier.color = "black", outlier.shape = 19)

In [ ]:
within clust4ers sum of squares measures the sqared error